# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build output
build/

# Ignore environment-specific configuration files
.env
.env.local
.env.development
.env.production

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor files
.vscode/
*.swp
*.swo

# Ignore npm lockfiles
package-lock.json