.stat-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 0.125rem solid $whiteColor;
    font-weight: 700;

    @media (min-width: 20rem) {
      font-size: 0.6em;
    }

    @media (min-width: 28.125rem) {
      font-size: 0.7em;
    }

    @media (min-width: 48rem) {
      font-size: 0.8em;
    }

    @media (min-width: 60rem) {
      font-size: 0.9em;
    }

    &__head {
        background-color: $whiteColor;
        color: $shadePurpleColor;
        border-bottom: 0.125rem solid;
    }
    &__body {
        background-color: $whiteColor;
        color: $shadePurpleColor;
    }

    th {
        cursor: pointer;
        padding: 0.2em;
    }

    tr + tr {
        border-top: 0.0625rem solid;
        padding: 0.2em;
    }

    td + td,
    th + th {
        border-left: 0.125rem solid;
    }

}