.stat-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 0.125rem solid $whiteColor;
    font-weight: 700;

    &__head {
        background-color: $whiteColor;
        color: $shadePurpleColor;
        border-bottom: 0.125rem solid;
    }
    &__body {
        background-color: $whiteColor;
        color: $shadePurpleColor;
    }

    tr + tr {
        border-top: 0.0625rem solid;
        padding: 0.2em;
    }

    td + td,
    th + th {
        border-left: 0.125rem solid;
        padding: 0.2em;
    }

}