.toggle-button {
  background-color: $inActiveColor;
  color: $whiteColor;
  border: 0;
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;
  display: flex;

  &[aria-pressed='true'] {
    .toggle-button__train {
      background-color: transparent;
    }

    .toggle-button__play {
      background-color: $turquoiseColor;
    }
  }

  &__mode {
    flex-basis: 50%;
    padding: 0.5em;
    font-weight: 700;
    transition: background 0.3s ease-in-out;

    @media (min-width: 28.125rem) {
      font-size: 0.9em;
      margin-top: 0;
    }

    @media (min-width: 48rem) {
      font-size: 1.2em;
    }

    @media (min-width: 62.5rem) {
      font-size: 1.5em;
    }
  }

  &__train {
    background-color: $turquoiseColor;
  }
}
