// Colors
$color-primary: hsl(196, 72%, 49%);
$whiteColor: hsl(0, 0%, 100%);
$whiteColorShadow: hsl(0, 10%, 100%);
$whiteColorHover: hsla(0, 0%, 100%, 0.6);

// $toggleBlue: hsla(248, 100%, 50%, .56);
$turquoiseColor: hsl(166, 72%, 49%);
$lightBlueColor: hsl(189, 93%, 55%);
$lightBlueColorHover: hsl(189, 93%, 65%);
$inActiveColor: hsla(248, 1%, 56%, 0.56);
