@keyframes appear {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
    // display: block;
    height: auto;
  }
}

.appear {
    animation: appear .5s ease-in-out forwards;
}