@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
    animation: fade-out .3s ease-in-out forwards;
}
